body {
    margin: 0;
}
h1 {
    color: #f00;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.8em;
}
#btns {
    width: 225px;
    margin: 0 auto;
}
#btns input {
    display: inline-block;
    padding: 0;
    height: 30px;
    width: 100px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    
    line-height: 30px;
    font-size: 1.2em;
    color: white;
    background-color: #036;
    cursor: pointer;
}
#btns input:last-child {
    margin-right: 0;
}
